<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load properties file -->
    <context:property-placeholder location="classpath:application.properties" />

    <!-- pizzas -->
    <bean id="myDiavolaPizza"
          class="com.agency04.sbss.pizza.DiavolaPizza">
    </bean>
    <bean id="myTricolorePizza"
          class="com.agency04.sbss.pizza.TricolorePizza">
    </bean>

    <!-- pizzerias -->
    <bean id="myFirstPizzeria"
          class="com.agency04.sbss.pizza.RedPepperPizzeria">
        <property name="name" value="Red Pepper Pizzeria" />
        <property name="adress" value="Peperoni Rossi 17" />
        <property name="owner" value="Peperossi" />
    </bean>
    <bean id="mySecondPizzeria"
          class="com.agency04.sbss.pizza.AllStarPizzeria">
        <property name="name" value="${pizzeria.name}" />
        <property name="adress" value="${pizzeria.adress}" />
        <property name="owner" value="${pizzeria.owner}" />
    </bean>

    <!-- deliveries -->
    <bean id="myFirstDelivery"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <constructor-arg ref="myFirstPizzeria"/>
    </bean>
    <bean id="mySecondDelivery"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
    <property name="pizzeriaService" ref="mySecondPizzeria"/>
    </bean>
</beans>